<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Shop{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body class="bg-gray-100">
    {% include 'store/navbar.html' %}

    <div class="container mx-auto mt-4">
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </div>


<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script>
        document.getElementById('mobile-menu-button').onclick = function () {
            var menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        }
    
        // Hide mobile menu after clicking on "Home"
        document.getElementById('mobile-menu').onclick = function () {
            var menu = document.getElementById('mobile-menu');
            menu.classList.add('hidden');
        }
    </script>
</body>
</html>
